* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

img {
  max-width: 100%;
}

p {
  text-wrap: pretty;
}

.App {
  text-align: center;
}

.articles {
  width: clamp(30rem, 50%, 60rem);
  margin: auto;
}
.articles, .article, .comment, .postcard, .header {
  border: solid 1px black;
}

.header {
  width: 100%;
}