

:root {
  --gap: 8px;
  --gap2: 16px;
  --gap3: 36px;
  --spacing: 16px;
  --spacing3: 24px;
  --spacing5: 64px;
  --border-radius: 16px;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

iframe {
  width: 100%;
  max-height: 50vh;
}

img {
  max-height: 50vh;
  max-width: 100%;
  border-radius: var(--border-radius);
}

p {
  text-wrap: pretty;
}

span {
  color: #39A7FF;
}
svg {
  width: 3.5rem;
  height: 3.5rem;
  margin: auto 0;
  height: auto;
}

ul {
  display:flex;
  flex-direction: column;
  padding-inline-start: 0;
  gap: var(--gap);
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: var(--gap2);
  background-color: lightblue;
  @media screen and (max-width: 768px) {
    display: block;
   }
}

.article {
  background-color: antiquewhite ;
  border-radius: 10px;
}

.article-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-metadata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap3);
}

.article-subreddit {
  text-align: start;
}

.article-wrapper {
  display: flex;
  gap: var(--gap2)
}

.articles {
  display: grid;
  grid-column: 2/3;
  gap: var(--gap3);
  padding-left: var(--spacing);
}

.arrow {
  border: solid red;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  background: none;
  height: 1rem;
  width: 1rem
}

.back-button {
  display: flex;
  margin: 16px 0;
}

.card {
  padding: var(--spacing3);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.card:hover {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}

.comment {
  background-color: aliceblue;
  padding: 0 var(--spacing3);
  margin: var(--spacing);
  border: solid 2px black;
}
.comment:hover {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.comment.depth-1 {
  margin-left: 40px;
}

.comment.depth-2 {
  margin-left: 60px;
}
.comment.depth-3 {
  margin-left: 80px;
}
.comment.depth-4 {
  margin-left: 100px; 
}
.comment.depth-5 {
  margin-left: 120px; 
}

.comment.depth-6 {
  margin-left: 140px; 
}

.comment-metadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--gap2);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.down:active {
  top: 5px;
}

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--gap2);
  align-content: center;
  padding: 0 var(--spacing-5);
  height: 64px;
  white-space: nowrap;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  @media screen and (max-width: 768px) {
   display: flex;
   flex-wrap: wrap;
   height: auto;
  }
}

.green-arrow {
  border: solid green;
  border-width: 0 7px 7px 0;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.icon img{
  border-radius: 50%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.logo {
  display: flex;
  padding-left: 16px;
}

.logo p {
  min-width: auto;
}

.score {
  min-width: auto;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
}

.sidebar {
  min-width: 150px;
  text-align: start;
  padding-left: 16px
}

.subreddit {
  list-style-type: none;
 /*  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-gap: var(--gap);
  align-items: center;
  justify-items: start;
  padding-left: var(--spacing);
  text-align: start;
  white-space: nowrap;
  overflow: hidden; */
}

.subreddit button {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.subreddit button:hover {
  background-color: beige;
}

.selectedElement {
  background-color: #39A7FF;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.up:active {
  bottom: 5px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";