.App {
  text-align: center;
}

.articleContainer {
  width: clamp(30rem, 50%, 60rem);
  margin: auto;
}
.articleContainer, .article, .comment, .postcard, .header {
  border: solid 1px black;
}

.header {
  width: 100%;
}